        <h1 class="section-contact__main-heading">Contacto</h1>
        <p class="contact__paragraph">Envíanos tus comentarios y nos pondremos en contacto.</p>
        <div class="form-container">
        <form action="alta.html" autocomplete="off" class="form">
            <div class="form__label-container">
                <label for="name" class="form__label">Nombre</label>
                <input type="text" name="name" id="name" autofocus required minlength="2" maxlength="20" class="form__input">
            </div>
            <div class="form__label-container">
                <label for="email" class="form__label">E-mail</label>
                <input type="text" name="name" id="email" autofocus required minlength="2" maxlength="20" class="form__input">
            </div>
            <div class="form__label-container">
                <label for="comments" class="form__label">Comentarios</label>
                <textarea type="text" name="name" id="comments" required minlength="2" maxlength="200" class="form__text-area"></textarea>
            </div>
            <button class="form__btn-submit">Enviar</button>
        </form>
        </div>